body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.btn-modern{
    padding: 5px 10px;
    background-color: purple;
    color: azure;
    border: none;
    border-radius: 5px;

}
.btn-modern:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    box-shadow: 0 5px 5px 1px gray;
    background-color: blueviolet;
    padding: 5px 10px;
    color: yellow;
    border: none;
    border-radius: 5px;
}