.div-1, .div-2{
    /*Por defecto display: block*/
    background-color: red;
}


.img{
    /*Por defecto display: inline-block*/
    width: 50px;
    height: 50px;
}

.spam-1{
    /*Por defecto display: inline*/
    background-color: aquamarine;
    
}

.spam-2{
    /*Por defecto display: inline*/
    background-color: aquamarine;
    float: right;
}

div{
    border: 1px solid gray;
    padding: 10px;
    margin: 5px;
    background-color: antiquewhite;
}

.relative{
    position: relative;
    left: 80px;
    margin-left: 10px;
}

.fixed{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: greenyellow;
    z-index: 10;
}

.relative.contenedor {
    width: 100px;
    height: 500px;
    background-color    : blue;
}

.absoluted{
    position: absolute;
    bottom: 20px;
}

.sticky{
    background-color: salmon;
    position: sticky;
    top: 0px;
    z-index: 2;
}